html{
  width: 100%;
  height: 100%;
}
body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $gray;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper{
  position: relative;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

a{
  color: $blue;
}

.navbar-no-large{
  display: block;
  background-color: $white;
  @media screen and (min-width: $device-desktop) {
    display: none;
  }
}
.card{
  border: 1.5px solid darken($gray, 8);
  &-body{
    padding: .7em 1em;
    color: $black;
  }
  &-title{
    margin: {
      top: .5em;
      bottom: .5em;
    }
    font-size: 24px;
  }
}

.form{
  &-group{
    margin-bottom: 0;
  }
  &-control{
    border: 2px solid darken($gray, 8);
    &:focus{
      border: 2px solid darken($gray, 8);
      outline: none !important;
    }
  }
}
.btn{
  &-primary{
    padding: {
      left: 1.2em;
      right: 1.2em;
    }
    background-color: $blue;
    border-color: $blue;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1), 2px 0 12px 0 rgba(0, 0, 0, 0.1);
    &:hover{
      background-color: darken($blue, 12);
      border-color: darken($blue, 12);
    }
  }
}

.text{
  &-primary{
    color: $blue;
  }
  &-success{
    color: $green;
  }
  &-warning{
    color: $yellow;
  }
  &-danger{
    color: $red;
  }
  &-default{
    color: darken($gray, 15);
  }
}

.cal-wrapper{
  border: 0 !important;
}

@media screen and (min-width: $device-desktop) {
  .row{
    margin: {
      left: -7px;
      right: -7px;
    }
  }
  .col-md-6,
  .col-md-4,
  .col-lg-4{
    padding: {
      left: 7px;
      right: 7px;
    }
  }
}