//color
$blue: #53b9ec;
$red: #F55151;
$green: #70CB94;
$yellow: #FCD148;
$black: #59616E;
$gray: #F5F7FA;
$white: #ffffff;

//typography
$global-weight-light: 300;
$global-weight-normal: 400;
$global-weight-semibold: 600;
$global-weight-bold: 700;

//radius
$global-radius: 4px;

//device
$device-tablet: 768px;
$device-desktop: 1024px;
$device-large-desktop: 1200px;