.filter{
  &-search-btn{
    position: relative;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: {
      color: transparent;
      image: url('../images/search.png');
      size: 20px;
      repeat: no-repeat;
      position: center;
    }
    border: 0;
    cursor: pointer;
    &:focus{
      outline: none;
    }
  }
  &-select{
    position: relative;
    padding: 6px 0;
    .field {
      padding:{
        left: 6px;
        right: 6px;
      }
      color: $blue;
      background-color: transparent;
      background-image: none;
      -webkit-appearance: none;
        -moz-appearance: none;
              appearance: none;
      box-shadow: none;
      &:focus{
        outline: none;
      }
    }
    &:after{
      content: "";
      position: absolute;
      display: block;
      right: .5em;
      top: 50%;
      transform: translateY(-50%);
      border: {
        top: 12px solid $blue;
          left: 8px solid transparent;
          right: 8px solid transparent;
      }
    }
  }
}