.modal{
  label, p{
    margin-bottom: 0;
  }
  color: $black;
  .user{
    &-detail{
      position: relative;
      display: block;
      @media screen and (min-width: $device-tablet) {
        display: flex;
        justify-content: flex-start;
        align-items: start;
      }
    }
    &-image{
      position: relative;
      width: 100%;
      height: 150px;
      display: block;
      img{
        height: 100%;
        display: block;
        margin: {
          left: auto;
          right: auto;
        }
        object-fit: cover;
        border: 3px solid $blue{
          radius: 100%;
        }
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
      }
      @media screen and (min-width: $device-tablet) {
        width: 150px;
      }
    }
  }
  .detail{
    &-group{
      position: relative;
    }
    &-list{
      list-style-type: none;
      padding: 0;
      margin: 0;
      label{
        width: 70px;
      }
      p{
        display: block;
        width: 70%;
        word-wrap: break-word;
      }
      @media screen and (min-width: $device-tablet) {
        margin-left: 1em;
      }
    }
    &-level-star{
      position: relative;
      margin: {
        top: 1em;
        bottom: 1em;
      }
      @media screen and (min-width: $device-tablet) {
        position: absolute;
        bottom: 1em;
        margin: {
          top: 0;
          bottom: 0;
          left: 1em;
        }
      }
      .bar{
        height: 22px;
        width: 0;
        background: {
          image: url('../images/yellow-star.png');
          repeat: space;
        }
        &.one {
          width: 22px;
        }
        &.two{
          width: 49px;
        }
        &.three{
          width: 76px;
        }
        &.four{
          width: 104px;
        }
        &.five{
          width: 130px;
        }
        &-area{
          height: 22px;
          width: 130px;
          background: {
            image: url('../images/grey-star.png');
            repeat: space;
          }
        }
      }
    }
  }
}