.sidebar{
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  min-height: 100%;
  z-index: 100;
  background-color: $white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  transform: translate(-250px, 0);
  @media screen and (min-width: $device-desktop) {
    transform: translate(0, 0);
  }
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0{
      top: 1.2em;
    }
  }
  &-link{
    padding: {
      top: .25em;
      bottom: .25em;
    }
    font-size: 1em;
    a{
      display: block;
      margin-left: .75em;
      color: $black;
      text-decoration: none;
      border-bottom: 3px solid transparent;
      transition: .3s;
    }
    &.active,
    &:hover{
      a{
        border-bottom: 3px solid $blue;
      }
    }
  }
  &-logo{
    margin-top: .7em;
  }
  .Codex---Logo {
    width: 230px;
    height: 90px;
    display: block;
    margin: {
      left: auto;
      right: auto;
    }
  }
}