.table{
  background-color: $white;
  &-responsive{
    overflow-x: scroll;
    @media screen and (min-width: $device-desktop) {
      overflow-x: inherit;
    }
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: darken($gray, 10);
    }
    &::-webkit-scrollbar-thumb {
      background-color: $blue;
      outline: 1px solid slategrey;
    }
    &-vertical{
      height: 120px;
      overflow-y: scroll;
      border: 1px solid darken($gray, 10);
    }
  }
  th, td{
    padding: .2rem .4em;
  }
  .number{
    text-align: center;
  }
}