.calendar{
  &-filter{
    padding: {
      left: 1em;
      right: 1em;
    }
    margin: {
      left: -1em;
      right: -1em;
      bottom: .5em;
    }
    border-bottom: 2px solid darken($gray, 10);
  }
  .add-event{
    &-date{
      color: $blue;
    }
    &-text{
      width: 100%;
      border: 0;
      &:focus{
        outline: 0;
      }
    }
  }
  .event{
    &-title{
      margin: {
        left: -15.5px;
        right: -15.5px;
        bottom: 0;
      }
      padding: .4em{
        left: 1em;
        right: 1em;
      }
      border: {
        top: 2px solid darken($gray, 10);
        bottom: 2px solid darken($gray, 10);
      }
    }
    &-list{
      list-style-type: none;
      max-height: 400px;
      padding: 0;
      margin: 0{
        left: -1em;
        right: -1em;
        bottom: -12px;
      }
      overflow-y: scroll;
      @media screen and (min-width: $device-tablet) {
        max-height: 220px;
      }
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        background-color: darken($gray, 10);
      }
      &::-webkit-scrollbar-thumb {
        background-color: $blue;
        outline: 1px solid slategrey;
      }
      &-item{
        max-height: 112px;
        border-bottom: 2px solid darken($gray, 10);
        &:last-child{
          border-bottom: 0;
        }
        .date{
          width: 27%;
          border-right: 2px solid darken($gray, 10);
        }
        .time{
          padding-left: 1.3em;
          margin-bottom: 0;
          color: $white;
          background-color: $red;
        }
        .counter{
          padding: .1em .5em;
          margin: {
            left: .5em;
            right: .5em;
          }
          color: $white;
          background-color: $red;
          border-radius: 100%;
        }
        p{
          margin-bottom: 0;
        }
        .date,
        .description{
          height: 112px;
          @media screen and (min-width: $device-tablet) {
            min-height: 88px;
          }
        }
        .description{
          position: relative;
          width: 73%;
          padding: .5em;
          font-size: 15px;
          &-bottom{
            position: absolute;
            bottom: 4px;
            width: 95%;
          }
        }
        .location{
          padding-left: 1.2em;
          background: {
            image: url('../images/marker.png');
            position: left center;
            size: 10px;
            repeat: no-repeat;
          }
        }
      }
    }
  }
}