.performance{
  .col-md-6{
    padding: {
      left: 15px;
      right: 15px;
    }
  }
  &-member{
    padding: 1.5em;
    margin: {
      top: .5em;
      bottom: .5em;
    }
    background-color: $gray;
    border-radius: $global-radius;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }
  &-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    label, p{
      margin-bottom: 0;
    }
    .label{
      min-width: 105px;
    }
    .value{
      margin-left: 5px;
    }
    .date-project{
      font-size: .8em;
    }
  }
}