.project{
  &-list{
    list-style-type: decimal;
    padding: 0; 
    margin: 0{
      left: 1em;
      bottom: 1em;
    }
    font-size: 15px;
    .arrow{
      width: 18px;
      height: 14px;
      display: inline-block;
      margin-right: .5em;
      &-up,
      &-down{
        background: {
          position: center;
          size: 18px;
          repeat: no-repeat;
        }
      }
      &-up{
        background-image: url('../images/triangle-up.png');
      }
      &-down{
        background-image: url('../images/triangle-down.png');
      }
    }
  }
  .talent-table{
    font-size: 15px;
    caption{
      padding: 0;
    }
    caption, table{
      width: 100px;
    }
    table{
      margin-bottom: .5em;
    }
  }
  select{
    height: 20px;
    padding: 0{
      left: 5px;
      right: 5px;
    }
    border: 0; 
    &:focus{
      border: 0;
      outline: 0;
    }
  }
}