<template>
  <div class="main calendar">
    <div class="row">
      <div class="col-sm-12 col-md-6 mb-2">
        <b-card tag="div">
          <div class="calendar-filter">
            <div class="d-flex justify-content-between align-items-center">
              <p class="card-title ml-1" style="margin-bottom: 0;">Date</p>
              <button class="button filter-search-btn mr-1">
              </button>
            </div>
            <div class="d-flex justify-content-around align-items-center mb-1">
              <div class="form-group filter-select" style="width: 70%">
                <select name="" id="" class="form-control field">
                  <option value="">September</option>
                </select>
              </div>
              <div class="form-group filter-select" style="width: 25%">
                <select name="" id="" class="form-control field">
                  <option value="">2018</option>
                </select>
              </div>
            </div>
          </div>
          <EventCalendar />
        </b-card>
      </div>
      <div class="col-sm-12 col-md-6">
        <b-card tag="div">
          <form action="" class="add-event">
            <div class="d-flex justify-content-between align-items-center">
              <p class="card-title add-event-date">
                Rabu, 6 Juni 2018
              </p>
              <button class="btn btn-primary float-right" type="submit">SAVE</button>
            </div>
            <textarea class="add-event-text" name="" id="" rows="6" placeholder="Ketik untuk menulis note..."></textarea>
          </form>
          <div class="event">
            <h5 class="event-title">Event</h5>
            <ul class="event-list">
              <li class="d-flex justify-content-start align-items-start event-list-item">
                <div class="date">
                  <p class="time">In 45 min</p>
                  <div class="d-flex justify-content-center align-items-start my-2 px-2">
                    <span class="counter">1</span>
                    <p>4 Juni 10:00 AM</p>
                  </div>
                </div>
                <div class="description">
                  <p>Bertemu dengan pak Budi di Bandara Halim membawa dokumen terkait projek.</p>
                  <div class="description-bottom">
                    <p class="location float-left">Bandara Halim Kusuma</p>
                    <a href="#" class="float-right">SEE MORE</a>
                  </div>
                </div>
              </li>
              <li class="d-flex justify-content-start align-items-start event-list-item">
                <div class="date">
                  <p class="time">In 45 min</p>
                  <div class="d-flex justify-content-center align-items-start my-2 px-2">
                    <span class="counter">1</span>
                    <p>4 Juni 10:00 AM</p>
                  </div>
                </div>
                <div class="description">
                  <p>Bertemu dengan pak Budi di Bandara Halim membawa dokumen terkait projek.</p>
                  <div class="description-bottom">
                    <p class="location float-left">Bandara Halim Kusuma</p>
                    <a href="#" class="float-right">SEE MORE</a>
                  </div>
                </div>
              </li>
              <li class="d-flex justify-content-start align-items-start event-list-item">
                <div class="date">
                  <p class="time">In 45 min</p>
                  <div class="d-flex justify-content-center align-items-start my-2 px-2">
                    <span class="counter">1</span>
                    <p>4 Juni 10:00 AM</p>
                  </div>
                </div>
                <div class="description">
                  <p>Bertemu dengan pak Budi di Bandara Halim membawa dokumen terkait projek.</p>
                  <div class="description-bottom">
                    <p class="location float-left">Bandara Halim Kusuma</p>
                    <a href="#" class="float-right">SEE MORE</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import EventCalendar from '../components/EventCalendar'
export default {
  name: 'Calendar',
  components: {
    EventCalendar
  }
}
</script>
