<template>
  <div class="hello main">
    <h3>{{ msg }}</h3>
    <a href="#/project">Go to Dashboard</a>
  </div>
</template>

<script>
export default {
  name: 'Greeting',
  data () {
    return {
      msg: 'Welcome to Codex Dashboard'
    }
  }
}
</script>
