<template>
  <div class="main project">
    <b-card title="Que All Project"
            tag="div"
            class="mb-12">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Nama Project</th>
              <th scope="col">Unit</th>
              <th scope="col">Stakeholder</th>
              <th scope="col">Sprint</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="number">1</td>
              <td>
                <a href="#">Teman Berbagi</a>
              </td>
              <td>TNT</td>
              <td>TNT</td>
              <td>15</td>
              <td>
                <div class="filter-select" style="padding: 0;">
                  <select name="" id="" class="form-control field" @change="OnDropdownSelectChanged">
                    <option value="completed">Complete</option>
                    <option value="ongoing">On Going</option>
                    <option value="rejected">Rejected</option>
                    <option value="inqueue">In Queue</option>
                  </select>
                </div>
              </td>
            </tr>
            <tr>
              <td class="number">2</td>
              <td>
                <a href="#">MyIndihome</a>
              </td>
              <td>Consumer</td>
              <td>Consumer</td>
              <td>12</td>
              <td>
                <div class="filter-select" style="padding: 0;">
                  <select name="" id="" class="form-control field" @change="OnDropdownSelectChanged">
                    <option value="completed">Complete</option>
                    <option value="ongoing">On Going</option>
                    <option value="rejected">Rejected</option>
                    <option value="inqueue">In Queue</option>
                  </select>
                </div>
              </td>
            </tr>
            <tr>
              <td class="number">3</td>
              <td>
                <a href="#">Bulir</a>
              </td>
              <td>TNT</td>
              <td>TNT</td>
              <td>15</td>
              <td>
                <div class="filter-select" style="padding: 0;">
                  <select name="" id="" class="form-control field" @change="OnDropdownSelectChanged">
                    <option value="completed">Complete</option>
                    <option value="ongoing">On Going</option>
                    <option value="rejected">Rejected</option>
                    <option value="inqueue">In Queue</option>
                  </select>
                </div>
              </td>
            </tr>
            <tr>
              <td class="number">4</td>
              <td>
                <a href="#">Dashboard Clap</a>
              </td>
              <td>Consumer</td>
              <td>Consumer</td>
              <td>12</td>
              <td>
                <div class="filter-select" style="padding: 0;">
                  <select name="" id="" class="form-control field" @change="OnDropdownSelectChanged">
                    <option value="completed">Complete</option>
                    <option value="ongoing">On Going</option>
                    <option value="rejected">Rejected</option>
                    <option value="inqueue">In Queue</option>
                  </select>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </b-card>
    <div class="row my-3">
      <div class="col-sm-6 col-lg-4">
        <b-card title="Best Product Performance"
            tag="div"
            class="performance-item">
          <ul class="project-list">
            <li>
              MyIndihome
              <div class="float-right">
                <div class="arrow arrow-up"></div> 3
              </div>
            </li>
            <li>
              Sobat BUMN
              <div class="float-right">
                <div class="arrow arrow-down"></div> 1
              </div>
            </li>
            <li>
              Open Trip
              <div class="float-right">
                <div class="arrow arrow-down"></div> 2
              </div>
            </li>
            <li>
              ODP Hunter
              <div class="float-right">
                <div class="arrow arrow-up"></div> 5
              </div>
            </li>
            <li>
              SIIS
              <div class="float-right">
                <div class="arrow arrow-up"></div> 6
              </div>
            </li>
          </ul>
          <button class="btn btn-primary float-right" type="submit">MORE</button>
        </b-card>
      </div>
      <div class="col-sm-6 col-lg-4">
        <b-card title="Best Squad Performance"
            tag="div"
            class="performance-item">
          <ul class="project-list">
            <li>
              Squad 1 - MyIndihome
              <div class="float-right">
                <div class="arrow arrow-up"></div> 3
              </div>
            </li>
            <li>
              Squad 2 - Sobat BUMN
              <div class="float-right">
                <div class="arrow arrow-down"></div> 1
              </div>
            </li>
            <li>
              Squad 3 - Open Trip
              <div class="float-right">
                <div class="arrow arrow-down"></div> 2
              </div>
            </li>
            <li>
              Squad 4 - ODP Hunter
              <div class="float-right">
                <div class="arrow arrow-up"></div> 5
              </div>
            </li>
            <li>
              squad 5 - SIIS
              <div class="float-right">
                <div class="arrow arrow-up"></div> 6
              </div>
            </li>
          </ul>
          <button class="btn btn-primary float-right" type="submit">MORE</button>
        </b-card>
      </div>
      <div class="col-sm-6 col-lg-4">
        <b-card title="Talent"
            tag="div"
            class="performance-item">
          <div class="d-flex justify-content-between align-items-center">
            <div class="talent-table">
              <caption>Floating</caption>
              <table>
                <tr>
                  <th scope="row">UX</th>
                  <td>1</td>
                </tr>
                <tr>
                  <th scope="row">FE</th>
                  <td>2</td>
                </tr>
                <tr>
                  <th scope="row">BE</th>
                  <td>0</td>
                </tr>
                <tr>
                  <th scope="row">QA</th>
                  <td>0</td>
                </tr>
              </table>
              <button class="btn btn-primary" type="submit">MORE</button>
            </div>
            <div class="talent-table">
              <caption>Vacant</caption>
              <table>
                <tr>
                  <th scope="row">QA</th>
                  <td>1</td>
                </tr>
                <tr>
                  <th scope="row">FE</th>
                  <td>2</td>
                </tr>
                <tr>
                  <th scope="row">BE</th>
                  <td>2</td>
                </tr>
                <tr>
                  <th scope="row">MOBILE</th>
                  <td>0</td>
                </tr>
              </table>
              <button class="btn btn-primary" type="submit">MORE</button>
            </div>
          </div>
        </b-card>
      </div>
    </div>
    <b-modal ref="commentContent" id="commentContent" class="user" hide-footer hide-header>
      <div class="d-block">
        <h4>Comment</h4>
        <textarea name="" id="" rows="15" class="form-control" placeholder="Text area content"></textarea>
      </div>
      <b-btn variant="primary" class="mt-3 float-right" @click="hideModal">SAVE</b-btn>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: 'Project',
  methods: {
    showModal () {
      this.$refs.commentContent.show()
    },
    hideModal () {
      this.$refs.commentContent.hide()
    },
    OnDropdownSelectChanged: function (event) {
      this.$refs.commentContent.show()
    }
  }
}
</script>
