<template>
  <div class="main performance">
    <b-card tag="div"
            class="mb-12">
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex justify-content-start align-items-center">
            <p class="card-title" style="margin-right: 1em">Project</p>
            <div class="form-group filter-select" style="width: 75%">
              <select name="" id="" class="form-control field">
                <option value="">My Indihome Consumen</option>
              </select>
            </div>
          </div>
          <ul class="performance-list">
            <li class="d-flex justify-content-start align-items-center">
              <label for="" class="label">Description</label>:
              <p class="value">This is a sample description about project</p>
            </li>
            <li class="d-flex justify-content-start align-items-center">
              <label for="" class="label">Stack holder</label>:
              <p class="value">DEGM</p>
            </li>
            <li class="d-flex justify-content-start align-items-center">
              <label for="" class="label">Sprint Now</label>:
              <p class="value">4</p>
            </li>
            <li class="d-flex justify-content-start align-items-center date-project mt-2">
              <label for="" class="label">Start Date</label>:
              <p class="value">12/06/2018</p>
            </li>
            <li class="d-flex justify-content-start align-items-center date-project">
              <label for="" class="label">End Date</label>:
              <p class="value">22/06/2018 (10 hari lagi)</p>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="performance-member">
            <h4>Member</h4>
            <div class="table-responsive table-responsive-vertical">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Stream</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="number">1</td>
                    <td>
                      <a @click="showModal" class="text-primary" style="cursor: pointer;">Budi Artianto</a>
                    </td>
                    <td>Backend</td>
                  </tr>
                  <tr>
                    <td class="number">2</td>
                    <td>
                      <a @click="showModal" class="text-primary" style="cursor: pointer;">Tono Budiman</a>
                    </td>
                    <td>Backend</td>
                  </tr>
                  <tr>
                    <td class="number">3</td>
                    <td>
                      <a @click="showModal" class="text-primary" style="cursor: pointer;">Wawan Aja</a>
                    </td>
                    <td>Frontend</td>
                  </tr>
                  <tr>
                    <td class="number">3</td>
                    <td>
                      <a @click="showModal" class="text-primary" style="cursor: pointer;">Wawan Aja</a>
                    </td>
                    <td>Frontend</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </b-card>
    <b-card title="Best Talent Performance"
            tag="div"
            class="mb-12 my-3">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Nama</th>
              <th scope="col">Stream</th>
              <th scope="col">Point Burn</th>
              <th scope="col">Point Remaining</th>
              <th scope="col">Point Queue</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="number">1</td>
              <td>
                <a @click="showModal" class="text-primary" style="cursor: pointer;">Budi Artianto</a>
              </td>
              <td>Backend</td>
              <td>105</td>
              <td>30</td>
              <td>30</td>
            </tr>
            <tr>
              <td class="number">2</td>
              <td>
                <a @click="showModal" class="text-primary" style="cursor: pointer;">Tono Budiman</a>
              </td>
              <td>Backend</td>
              <td>102</td>
              <td>35</td>
              <td>12</td>
            </tr>
            <tr>
              <td class="number">3</td>
              <td>
                <a @click="showModal" class="text-primary" style="cursor: pointer;">Wawan Aja</a>
              </td>
              <td>Frontend</td>
              <td>109</td>
              <td>35</td>
              <td>25</td>
            </tr>
          </tbody>
        </table>
      </div>
    </b-card>
    <b-modal ref="detailUser" class="user" hide-footer hide-header>
      <div class="user-detail">
        <div class="user-image mb-2">
          <img src="@/assets/images/profile.png" alt="">
        </div>
        <div class="detail-group">
          <ul class="detail-list">
            <li class="d-flex justify-content-start align-items-start">
              <label>Nama</label>:<p class="ml-1">Muhammad Nazi</p>
            </li>
            <li class="d-flex justify-content-start align-items-start">
              <label>Stream</label>:<p class="ml-1">Backend</p>
            </li>
            <li class="d-flex justify-content-start align-items-start">
              <label>Level</label>:<p class="ml-1">Medium</p>
            </li>
          </ul>
          <div class="detail-level-star">
            <div class="bar-area">
              <div class="bar three"></div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h5 class="d-block">Work Intensity</h5>
        <line-chart :data='data' :option='options'  height='200px' />
      </div>
      <div class="d-flex justify-content-between align-items- mt-3">
        <label>Total Point <span class="ml-3">23445</span></label>
        <b-btn variant="primary" @click="hideModal">BACK</b-btn>
      </div>
    </b-modal>
  </div>
</template>

<script>
import LineChart from '@/components/LineChart'
export default {
  name: 'TeamPerformance',
  components: {
    LineChart
  },
  data: function () {
    return {
      data: {
        labels: ['Periode 1', 'Periode 2', 'Periode 3', 'Periode 4'],
        datasets: [
          {
            label: 'Point Burn',
            fill: false,
            borderColor: '#45bfb7',
            data: [10, 20, 30, 40]
          }, {
            label: 'Point Remain',
            fill: false,
            borderColor: '#066493',
            data: [30, 40, 50, 15]
          }, {
            label: 'Point Queue',
            fill: false,
            borderColor: '#4e4dd1',
            data: [10, 40, 30, 25]
          }
        ]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            },
            gridLines: {
              display: true
            }
          }],
          xAxes: [{
            ticks: {
              beginAtZero: true
            },
            gridLines: {
              display: false
            }
          }]
        },
        legend: {
          display: true
        },
        tooltips: {
          enabled: true,
          mode: 'single',
          callbacks: {
            label: function (tooltipItems, data) {
              return '$' + tooltipItems.yLabel
            }
          }
        },
        responsive: true,
        maintainAspectRatio: false
      }
    }
  },
  methods: {
    showModal () {
      this.$refs.detailUser.show()
    },
    hideModal () {
      this.$refs.detailUser.hide()
    }
  }
}
</script>
