<template>
  <vue-event-calendar :events="demoEvents"></vue-event-calendar>
</template>

<script>
export default {
  name: 'EventCalendar',
  data () {
    return {
      demoEvents: [{
        date: '2018/09/12', // Required
        title: 'Foo' // Required
      }, {
        date: '2018/09/18',
        title: 'Bar',
        desc: 'description',
        customClass: 'disabled highlight' // Custom classes to an calendar cell
      }]
    }
  }
}
</script>
