<template>
  <div class="navbar-no-large">
    <b-navbar toggleable>
      <b-navbar-toggle target="nav_dropdown_collapse"></b-navbar-toggle>
      <b-collapse is-nav id="nav_dropdown_collapse">
        <a class="navbar-brand" href="#">
          <img src="@/assets/images/logo.png" width="100" height="30" class="d-inline-block align-top" alt="">
        </a>
        <b-navbar-nav>
          <b-nav-item href="#/project">Project</b-nav-item>
          <b-nav-item href="#/team-performance">Team Performance</b-nav-item>
          <b-nav-item href="#/calendar">Calendar</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: 'Navbar'
}
</script>
