<template>
  <div class="sidebar">
    <div class="sidebar-logo">
      <a href="#/project"><img src="@/assets/images/logo.png" alt="" class="Codex---Logo"></a>
    </div>
    <nav>
      <ul>
        <li class="sidebar-link" @click="activate(1)" :class="{ active : active_el == 1 }">
          <a href="#/project">
            Project
          </a>
        </li>
        <li class="sidebar-link" @click="activate(2)" :class="{ active : active_el == 2 }">
          <a href="#/team-performance">
            Team Performance
          </a>
        </li>
        <li class="sidebar-link" @click="activate(3)" :class="{ active : active_el == 3 }">
          <a href="#/calendar">
            Calendar
          </a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'Sidebar',
  data: function () {
    return {
      active_el: 0
    }
  },
  methods: {
    activate: function (el) {
      this.active_el = el
    }
  }
}
</script>
