<template>
  <div id="app" class="wrapper">
    <Sidebar />
    <Navbar />
    <router-view/>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import Sidebar from '@/components/Sidebar'
export default {
  name: 'App',
  components: {
    Navbar,
    Sidebar
  }
}
</script>
